<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
<!--
   넘어온 데이터 모델을 타임리프에서 변수로 사용하려면?
      1. th:inline="javascript"선언
      2. CDATA 선언
      3. default 명시
      4. 변수값 처리를 타임리프 문법에 맞게 처리
-->
<script th:inline="javascript">
    /*<![CDATA[ */
    var message = /*[[${msg}]]*/ 'default';
    const url = /*[[${url}]]*/ 'default';
    alert(message);
    document.location.href= url;
    /*]]*/
</script>
</body>
</html>