<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>waplease.com</title>
    <!--controller 적용 후 css가 안불러지는 오류 있었음. 절대경로로 설정하니 해결됨.-->
    <link rel="stylesheet" href="/css/waplease_style.css"/>
    <!--<link rel="stylesheet" href="./waplease_style.css"/>-->
</head>
<body>
<div class="menu"><img src="메뉴아이콘.png"></div>
</a>
<div class="title">
    <span>W</span><span>A</span><span>P</span><span>L</span><span>E</span><span>A</span><span>S</span><span>E</span>
</div>
<br>
<div class="title">
    <span>마</span><span>이</span><span>페</span><span>이</span><span>지</span>
</div>
<br>
<span>회원정보</span>
<div class="box"><img src="회원정보.png"></div>
<br>
<div class="search">
    <form action="https://www.google.com/search" method="GET">
        <input class="input_text" name="q" type="text" placeholder=" 자료 검색 : 검색어를 입력하세요 ">
    </form>
</div>
<div class="container">
    <a href="https://section.cafe.naver.com/ca-fe/" target="_blank">
        <div class="box"><img src="공지사항.png"></div>
        공지사항</a>
    <div class="box"><img src="동방안내.png"></div>
    </a>
    <div class="box"><img src="마이페이지.png"></div>
    </a>
    <div class="box"><img src="대출현황.png"></div>
    </a>
</div>
</body>
</html>