<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/join.css">
    <!-- <link rel="stylesheet" href="join.css" > -->

</head>
<body>
<div class="loginbox">
    <h2>회원가입</h2>
    <form action="/member/join" method="post">
        <label for="username">이름</label>
        <input id="username" type="text" name="member_name">
        <label for="usernumber">학번</label>
        <input id="usernumber" type="text" name="member_id">
        <label for="password">비밀번호</label>
        <input id="password" type="password" name="member_pw">
        <label for="password-check">비밀번호 확인</label>
        <input id="password-check" type="password">

        <label for="certified">사용자 인증</label>
        <button type="submit">문자 인증</button>
        <button type="submit">이메일 인증</button>


    </form>
</div>
</body>
</html>